/* modify bootstrap */
.row {
    margin-right: 0px;
    margin-left: 0px;
}
.navbar {
    border-radius: 0px;
}
/* body */
body, p, span, a, h1, h2, h3, h4, h5, h6, div, button, td, tr, th, table {
	font-family: 'Scada', Arial, Helvetica, sans-serif;
	font-size: 13px;
}
/* header bottom */
.img-profile{
	height: 40px;
}
/* btn */
.btn-buy{
	color: #ffffff;
	background-color: #008000;
	border: none;
	border-radius: 2px;
	padding: 2px 5px;
}
/* form */
.form-control {
	width: inherit;
}
.control-label{
	text-align: left;
}